*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --cell-size: 100px;
    /* calculates X and ) size so it's 90% of the cell size */
    --mark-size: calc(var(--cell-size) * 0.9);
}

body {
    margin: 0;
}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    /* background-color: black; */
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:last-child {
    border-bottom: none;
}

/* X styling */
.cell.x::before,
.cell.x::after {
    content: '';
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
    background-color: black;
    position: absolute;
}

.cell.x::before {
    transform: rotate(45deg);
}

.cell.x::after {
    transform: rotate(-45deg);
}